@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
body{
	background-image: url("file:///Users/apple/Desktop/My%20First%20Project/Birthday%20Greeting/img/party1.jpg");

}
#circle{
	width:500px;
	height:500px;
	background-color:  #FFAB45;
	border-radius: 500px;
	position: fixed;
	top:0;
	right:0;
	bottom: 0;
	left:0;
	margin:auto;
	box-shadow:0 1px 2px rgba(0,0,0,0,3); 
}
#circle:after{
	content:"";
	display:block;
	border: 5px dashed #FF6600;
	width:500px;
	height:500px;
	border-radius: 500px;
	animation: spin 30s linear infinite; 
}
#circle:hover{
	background-image: radial-gradient( #FFAB45 70%);
}
#gift{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
	width: 100px;
	height:125px;
}
#ribbon{
	position:relative;
	width:60px;
	height:60px;
	transform:rotate(45deg);
	margin:auto;
	margin-bottom: -38px;
	border-radius: 0 8px 0 8px;
}
#ribbon:before{
	content:"";
	height:24px;
	width:100%;
	background-color: #F04D4D;
	display: block;
	position:absolute;
	top:18px;
	box-shadow: 0 0 1px rgba(0,0,0,0.4);
	border-radius: inherit;
}

#ribbon:after{
	content:"";
	height:100%;
	width:24px;
	background-color: #F04D4D;
	display: block;
	margin:auto;
	box-shadow: 0 0 1px rgba(0,0,0,0.4);
	border-radius: inherit;
}
#giftbox{
	position:relative;
	margin:auto;
	width:100px;
	height:100px;
	background-color: white;
	border-radius: 2px;
	box-shadow:0 0 1px rgba(0,0,0,0.4);
	overflow: hidden;
}
#giftbox:before{
	content: "";
	height:24%;
	width:100%;
	background-color: #F04D4D;
	display:block;
	position:absolute;
	top:38%;
	box-shadow:inherit;
}
#giftbox:after{
	content:"";
	height:100%;
	width:24%;
	background-color: #F04D4D;
	display:block;
	margin:auto;
	box-shadow: inherit;
}
body{
    margin: 0;
    font-family: arial;
    font-size: 1.2em;
    color: #111;
}

.wrapper{
    max-width: 960px;
    margin: 10% auto;
    text-align: center;
    line-height: 2em;
}

.button{
    border: 3px solid #111;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}

#xmas-popup .popup-content{
    width: 600px;
    height: 600px;
    background: #bbb;
    margin: 100px auto;
    position: relative;
    border: 5px solid #fff;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background: #222;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    line-height: 0;
    padding: 9px 0 11px;
    width: 20px;
    text-align: center;
}

.popup:target{
    display: block;
}
